Source: python-gui
Section: python
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends: debhelper (>= 8), python, python-support
Standards-Version: 3.9.3

Package: python-gui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-xdgbasedir, python-gtk2
Description: python module for user defined gui design
 This module leaves the design of the gui to the user. A program only needs
 to define what information may be presented in the interface. The user then
 decides how to present that information. Programs should provide a default
 user interface description, but users can replace it.
